// Define variables for your color scheme

// Colors:
$red: #EF6F6C;
$white: #FFFFFF;
$blue: #20A39E;
$yellow: #FFBA49;
$orange: #E67E22;
$green: #49D49D;
$gray: #000000;
$purple: #6E28F2;
$light-gray: #F4F4F4;
$dark-transparent: rgba(0, 0, 0, 0.5);

// Variables
