.vertical-between {
  display:flex;
  flex-direction: column;
  justify-content: space-between;
  height: calc(100vh - #{$navbar_height} - #{$footer_height});
}

#game-info {
  margin: 10px;
  text-align: center;
}

#game-players {
  ul {
    display: flex;
    justify-content:center;
    padding: 0px;
    width: 100%;
    flex-wrap: wrap;
  }
  li {
    list-style-type: none;
  }
  text-align: center;
}

#game-actions {
    padding-bottom: 40px;
    text-align: right;
}

.avatar {
  margin: 10px;
}

.progress {
  border-radius: 15px;
  height: 10px;
  margin-bottom: 8px;
}

.badge {
  border-radius: 50%;
  background-color: $purple;
  padding: 4px 9px;
  display: block;
  width: 36px;
  margin: auto;
  font-size: 27px;
  margin-top: 15px;
}
