.vertical-between {
  display:flex;
  flex-direction: column;
  justify-content: space-between;
  height: calc(100vh - #{$navbar_height} - #{$footer_height});
}

#game-wifi {
  text-align: right;
  margin: 48px;
}

#game-info {
  margin: 48px;
}

#game-players {
  ul {
    display: flex;
    justify-content:center;
    padding: 0px;
  }
  li {
    list-style-type: none;
  }
  text-align: center;
}

#game-actions {
    padding-bottom: 40px;
    text-align: right;
}

.avatar {
  margin: 10px;
}
