 <div style="background-size: cover; background-image: url('<%= image_path 'screen_spectator.svg' %>');">
  <div id="gamemaster-frame">
    <% if @final_running %>
      <%= render 'game_master/games/final',
        game: @game,
        game_master: current_game_master,
        exercise: @exercise,
        players: @final_players,
        player0: @player0,
        player1:  @player1,
        last_attempt0: @last_attempt0,
        last_attempt1: @last_attempt1
    %>
    <% else %>
      <%= render 'game_master/games/welcome',
        game: @game,
        players: @players
      %>
    <% end %>
  </div>
</div>
