
  <div class="banner" style="background-image: linear-gradient(-248deg, rgba(134,0,245,1) 20%, rgba(134,0,245,0.4) 50%), url('<%= image_path 'test.jpg' %>');">
    <div class="banner-content">
    <h1>Code and drink </h1>
    <p> Challenges your buddies and have fun ! </p>
      <%= link_to "JOIN YOUR GAME", new_game_player_path(@game), class: "button button-yellow"%>

    </div>
  </div>
