<ul class="list-unstyled">
  <% players.each do |player| %>
  <li>
    <div class="avatar avatar-<%= player.status %>">
      <img id="<%= player.username %>" class="box-shadow-<%= player.status %>" />
      <p><%= player.username %></p>
    </div>
  </li>
  <% end %>
</ul>
