<ul class="list-unstyled">
  <% players.each do |player| %>
  <li>
    <div class="avatar">
      <img id="<%= player.username %>" />
      <p><%= player.username %><p>
    </div>
  </li>
  <% end %>
</ul>
