<div id="ranking">
  <div class="banner" style="background-image: linear-gradient(-190deg, rgba(134,0,245,1) 43%, rgba(134,0,245,0.4) 57%), url('<%= image_path 'screen_ranking.svg' %>');">
    <div class="container">
      <div class="row">
        <h1>Ranking</h1>
        <h2>Winners! Have a drink!</h2>
        <div class="col-xs-12">
          <div id="game-players">
          <%= render partial: 'players/players', locals: { players: players } %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
