<div class="banner" style="background-image: url('<%= image_path 'screen_wait.svg' %>');">
  <div class="container">
    <h1> Game will be starting soon </h1>
    <h3> Connected players </h3>
    <div id="game-players">
      <%= render partial: 'players/players', locals: { players: players } %>
    </div>
  </div>
</div>
