<div class="container">
  <% if @game.not_started? %>
  <div class="row">
    <div class="col-xs-6 col-xs-offset-3">
      <div class="form-centered">
        <h1>New player</h1>
        <%= simple_form_for [@game, @player] do |f| %>
        <div style="display: flex;">
          <div>
            <%= f.input :username, input_html: { oninput: "setImgSrc('identicon', getIdenticon(this.value));"} %>
            <div class="form-group">
              <label for="player_game_pwd_input">Game Password</label>
              <input class="form-control" type="text" name="player[game_pwd_input]" id="player_game_pwd_input" required />
              <% if @invalid_password %>
              <div id="error-message"> <p>Password is invalid</p> </div>
              <% end %>
            </div>
          </div>
          <div>
          <%= image_tag "identicon.png", id:"identicon", width:"200px", height:"200px", class:"img-thumbnail"%>
          </div>
        </div>
        <br>
        <%= f.submit "Join Game", class: "button button-purple button-wide" %>
        <% end %>
      </div>

    </div>
  </div>
  <% else %>
  <div class="row">
    <div class="col-xs-6 col-xs-offset-3">
      <div class="form-centered text-center">
        <h2>Sorry.<br>Game is closed!</h2>
      </div>
    </div>
  </div>
  <% end %>

</div>
