<div class="container">
  <% if @game.not_started? %>
  <div class="row">
    <div class="col-xs-4 col-xs-offset-4">
      <div class="form-centered">
        <h1>New player</h1>
        <%= simple_form_for [@game, @player] do |f| %>
        <%= f.input :username %>
          <div class="form-group">
            <label for="player_game_pwd_input">Game Password</label>
            <input class="form-control" type="text" name="player[game_pwd_input]" id="player_game_pwd_input" required >
            <% if @invalid_password %>
              <div id="error-message"> <p>Password is invalid</p> </div>
            <% end %>
          </div>
        <br>
        <%= f.submit "Join Game", class: "button button-purple button-wide" %>
        <% end %>
      </div>
    </div>
  </div>
  <% else %>
  <div class="row">
    <div class="col-xs-6 col-xs-offset-3">
      <div class="form-centered text-center">
        <h2>Sorry.<br>Game is closed!</h2>
      </div>
    </div>
  </div>
  <% end %>
</div>
