<div class="container">
  <% if @game.not_started? %>
  <div class="row">
    <div class="col-xs-4 col-xs-offset-4">
      <div class="form-centered">
        <h1>New player</h1>
        <%= simple_form_for [@game, @player] do |f| %>
        <div style="display: flex;">
          <div>
            <%= f.input :username, input_html: { oninput: "setImgSrc('identicon', getIdenticon(this.value));"} %>
            <div class="form-group">
              <label for="player_game_pwd_input">Game Password</label>
              <input class="form-control" type="text" name="player[game_pwd_input]" id="player_game_pwd_input" required />
              <% if @invalid_password %>
              <div id="error-message"> <p>Password is invalid</p> </div>
              <% end %>
            </div>
          </div>
          <div>
            <img id="identicon" width="114px" height="114px" style="margin:30px 0px 0px 16px" class="img-thumbnail"%>
          </div>
        </div>
        <br>
        <%= f.submit "Join Game", class: "button button-purple button-wide" %>
        <% end %>
      </div>
    </div>
  </div>
  <% else %>
  <div class="row">
    <div class="col-xs-6 col-xs-offset-3">
      <div class="form-centered text-center">
        <h2>Sorry.<br>Game is closed!</h2>
      </div>
    </div>
  </div>
  <% end %>
  <script type="text/javascript">
    window.onload = function() {
      const username = document.getElementById('player_username').value;
      console.log(username);
      if (username != "") {
        setImgSrc('identicon', getIdenticon(username));
      } else {
        setImgSrc('identicon', getIdenticon("bonjour"));
      }
    }
  </script>
</div>
