<div class="container">
  <div class="main-container">

<h1> Test </h1>
<!-- div des 2 écran Enocé/Test et code area -->
    <div class="row">
<!-- div écran Enocé/Test -->
      <div class="col-xs-6">
        </div>




<!-- div écran code aera -->
      <div class="col-xs-6">
      </div>

    </div>
<!-- div des 2 boutons reset et submit -->
    <div class="validation">
    </div>

  </div>
</div>
