<div id="game">
  <% if @game.round_running? && @current_player.status == "playing" %>
    <%= render 'game_screen' %>
  <% elsif @game.not_started? %>
    <%= render 'welcome_screen' %>
  <% else %>
    <%= render 'ranking_screen' %>
  <% end %>
</div>


