.avatar {
  //width: 80px;
  height: 100px;
  margin: 24px;
}

.avatar img {
  width: 80px;
  height: 80px;
}

.avatar p {
  margin: 0px;
  padding: 0px;
  font-size: 20px;
  color: white;
  font-size: 26px;
}

.avatar-alive {
  animation: bounce 0.5s;
  animation-direction: alternate;
  animation-iteration-count: infinite;
}

@keyframes bounce {
  from { transform: translate3d(0, -10px, 0);     }
  to   { transform: translate3d(0, 10px, 0); }
}

