.box-shadow {
  box-shadow: 0 0 10px $dark-transparent;
  transition: 300ms;
}

.box-shadow:hover {
  box-shadow: 0 0 30px $dark-transparent;
}

.box-shadow-alive {
  box-shadow: 0 0 20px $green;
  border: solid 6px $green;
}

.box-shadow-defeated {
  box-shadow: 0 0 20px $red;
  border: solid 6px $red;
}
