.box-shadow {
  box-shadow: 0 0 10px $dark-transparent;
  transition: 300ms;
}

.box-shadow:hover {
  box-shadow: 0 0 30px $dark-transparent;
}

.box-shadow-winner {
  box-shadow: 0 0 20px $green;
  border: solid 3px $green;
  transition: 300ms;
}

.box-shadow-loser {
  box-shadow: 0 0 20px $red;
  border: solid 3px $red;
  transition: 300ms;
}
