.card {
    margin-top: 10px;
    border: 6px solid #6e28f2;
    min-height: 280px;
    box-shadow: black 15px;
    border-radius: 15px;
    background: white;
    box-shadow: 0px 12px 2px 1px rgba(0, 0, 255, .2);
}
