#editor {
  min-height: 76vh;
  margin: 15px 0 15px 40px;
  font-size: 15px;
}
.ace_gutter{
//  padding-top: 20px;
}
.ace_content {
//  padding-top: 20px;
}

.editor {
  min-height: 50vh;
  margin: 0px 0px 0px 40px;
  font-size: 15px;
}
