$footer-height: 70px;

footer {
  background-color: $purple;
  color: white;
  height: $footer-height;
}

.footer-container {
  height: 100%;
  display: flex;
  align-items: center;
  p {
    margin: 0;
  }
}
